/*!
Theme Name: weable
Theme URI: https://weable.vn/themes/weable
Author: Weable Team
Author URI: https://weable.vn
Description: Theme duoc xay dung & phat trien boi Weable Team
Version: 1.0
Requires at least: 5.0
Tested up to: 5.7
Requires PHP: 7.2
License: GPL version 2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0
Text Domain: weable
*/

/* Don't overwrite this file. Compile "/assets/main.(less|scss)" to "/assets/css/main.css" */
/* From http://codex.wordpress.org/CSS */

@font-face {
	font-family: 'Gilroy';
	src: url('assets/fonts/SVN-GilroyMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('assets/fonts/SVN-GilroyXBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UTM-Avo';
	src: url('assets/fonts/UTMAvoBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	--heading-font: 'UTM-Avo', sans-serif;
	--body-font: 'Gilroy', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	font-weight: bold !important;
}

a:hover {
	text-decoration: none !important;
}

body {
	font-family: var(--body-font) !important;
	font-weight: normal !important;
	color: #ffffff !important;
}

strong {
	font-family: var(--body-font);
	font-weight: bold !important;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #ffffff !important;
}

.section {
	margin-bottom: 10rem;
}

.img-wrap {
	position: relative;
	height: auto;
	overflow: hidden;
	background-position: 50% 50%;
	background-size: cover;
	padding-top: 56.25%;
}

.img-wrap img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	transform: translateZ(0);
	margin: 0 auto;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	top: 0;
	position: absolute;
	object-position: 50% 50%;
	object-fit: cover;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.bypostauthor {
	font-weight: bold;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

.top-header {
	background: #fff;
}

.top-header .logo {
	display: block;
	height: 80px;
}

/*========== CUSTOM CSS HERE ==========*/
.w-header,
.w-footer {
	background: #f2f3f5;
	text-align: center;
	padding: 20px 0;
}

.w-block-demo-1 {
	background: var(--teal)
}

.w-block-demo-2 {
	background: var(--cyan)
}

.w-block-demo-1,
.w-block-demo-2 {
	padding: 150px 0;
	text-align: center;
	margin: 30px 0;
	color: #fff
}

.wyswyg .align-full {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: calc(100vw - 18.88888px);
}

code {
	color: var(--danger) !important
}


/* Header */

.w-header {
	background-image: linear-gradient(to bottom, rgba(51, 49, 49, 0.8), rgba(55, 55, 53, 0.8)), url("assets/images/bi-quyet-mieu-ta-tranh.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5rem;
}

.w-header .menu-mobile {
	display: none;
}


.w-header .overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: .85;
	top: 0;
	left: 0;
	display: none;
	transition: 0.3s;
	z-index: 998;
}

.w-header .overlay.show {
	display: block;
}

.w-header .header-logo {
	font-size: 24px;
}

.w-header .menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.w-header .menu .sub-menu {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.w-header .sub-menu .item {
	margin: 0 25px;
}
.w-header .sub-menu .item .title {
	padding: 10px 0;
	position: relative;
}

.w-header .sub-menu .item .home-page::after {
	content: '';
	width: 50% !important;
	height: 2px;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translate3d(-10px, 0, 0);
	transition: width 0.2s ease;
}

.w-header .sub-menu .item .title::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translate3d(-10px, 0, 0);
	transition: width 0.2s ease;
}

.w-header .sub-menu .item .title:hover::after {
	content: '';
	width: 50%;
	height: 2px;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translate3d(-10px, 0, 0);
	transition: all 0.2s ease;
}

.w-header .list .item:not(:first-child) {
	margin-left: 60px;
}

.w-header .menu .btn {
	padding: 10px 30px;
	background-color: var(--primary);
}

.w-header .text .h1 {
	font-size: 50px;
}


.w-header .login {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.w-header .login .btn .social {
	padding-right: 4rem;
	font-size: 20px;
}

.w-header .login .or::before {
	display: block;
	content: "";
	border-bottom: 0;
	flex-grow: 1;
	border-top: 1px solid #fff;
}

.w-header .login .or::after {
	display: block;
	content: "";
	border-bottom: 0;
	flex-grow: 1;
	border-top: 1px solid #fff;
}

.w-header .login .or {
	width: 100%;
	margin: 0 auto;
}

.w-header .login .gmail {
	font-size: 18px;
	width: max-content;
	height: auto;
	transform: translateX(70%);
	top: 0;
	left: 50%;
}

.w-header .login .text-signup {
	font-size: 14px;
}

.w-header .play {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 20%;
	right: 0;
}

.w-header .play .bgr-play {
	background-image: url("assets/images/Ellipse\ 2646.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
}

.w-header .bgr-play .play-fill {
	position: absolute;
	top: 42%;
	left: 35%;
	transform: translateX(50%);
}

/* section total */

.total {
	background-color: var(--warning);
	width: 100%;
	height: 252px;
}

/* section caterogys */

.caterogys .h1 {
	color: var(--warning);
}

.caterogys .introduction p {
	color: var(--danger);
	width: 70%;
}

.caterogys .img-wrap {
	padding-top: 147.25%;
}

.caterogys .img-wrap .click {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 247px;
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	background: #fff;
	padding: 20px;
}

.caterogys .img-wrap .click span {
	color: var(--warning);
	font-size: 20px;
}

/* Section popular */

.popular .h1 {
	color: var(--warning);
}

.popular .introduction {
	justify-content: space-between;
	align-items: center;
}

.popular .introduction p {
	color: var(--danger);
	width: 70%;
}

.popular .introduction .view {
	color: var(--primary) !important;
}

.popular .item {
	background-color: rgba(0, 0, 0, 0.05);
}

.popular .item .img-wrap {
	padding-top: 71.25%;
}

.popular .item .UI {
	position: absolute;
	top: 5%;
	right: 0;
	width: 170px;
	height: 72px;
	text-align: center;
	background: #fff;
	padding: 25px 0;
	color: var(--primary) !important;
}

.popular .item .name-producte {
	color: var(--warning);
	font-weight: 600;
	font-size: 22px;
}

.popular .item .evaluate .star:not(:last-child) {
	color: var(--orange);
}

.popular .item .evaluate .number {
	font-weight: bold;
	padding-right: 5px;
	font-size: 14px;
	color: var(--warning);
}

.popular .item .evaluate .amount {
	color: var(--danger);
	font-size: 14px;
}

.popular .item .buys {
	width: 145px;
	height: 78px;
	background-color: var(--success);
	color: var(--primary);
	justify-content: center;
}

.popular .item .buys:hover {
	background-color: var(--primary);
	color: #ffffff;
}

/* Section infomation */

.infomation .h1 {
	color: var(--warning);
}

.infomation .introduction {
	font-size: 16px;
	color: var(--danger);
}

.infomation .info .name {
	color: var(--warning);
}

.infomation .student .star {
	color: var(--orange);
}

.infomation .student .text {
	color: rgba(78, 78, 78, 1);
}

.infomation .list-item .btn-slick {
	padding: 20px;
	background-color: var(--primary);
	color: #ffffff;
}

.infomation .silder {
	position: relative;
}

.infomation .slider .btn-slick {
	padding: 5px 10px;
	border: 1px solid rgba(29, 140, 116, 1);
}

.infomation .slider .btn-slick:hover {
	background-color: var(--primary);
	color: rgba(255, 255, 255, 1) !important;
}

.infomation .slider .bi {
	transform: translate(0px, 3px);
	color: var(--primary);
	width: 20px;
	height: 20px;
}

.infomation .slider .bi:hover {
	color: #ffffff;
}

/* footer */

.w-footer {
	background-image: linear-gradient(to bottom, rgba(51, 49, 49, 0.8), rgba(55, 55, 53, 0.8)), url("assets/images/bi-quyet-mieu-ta-tranh.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.w-footer .align-items-center {
	width: 100%;
	height: 376px;
}

.w-footer .tbn-footer {
	padding-left: 80px;
}

.w-footer .btn-success {
	background-color: rgba(29, 140, 116, 1);
	width: 170px;
	height: 52px;
}

.w-footer .btn-warning {
	background-color: rgba(238, 188, 101, 1);
	width: 170px;
	height: 52px;
}

/* Summary */

.summary {
	background-color: var(--warning);
	width: 100%;
	height: 126px;
}

.summary .left span {
	padding: 10px;
}

.summary .social .item {
	margin-right: 30px;
	padding: 10px 15px;
	background-color: rgba(29, 140, 116, 1);
	height: 40px;
	cursor: pointer;
}

/* Responsive */

/* Responsive Table (Ipad pro 11)*/

@media all and (max-width:835px) {

	.w-header .menu {
		display: none;
	}

	.w-header .menu-mobile {
		display: block;
	}

	.w-header .menu-mobile .icon {
		font-size: 50px;
		position: absolute;
		top: 2%;
		right: 6%;
	}
	
	.w-header .menu-mobile .list-menu.show {
		display: block !important;
		background-color: var(--danger);
		z-index: 999;
		width: 50%;
		height: 89%;
		position: absolute;
		top: 10%;
		right: 0;
		transition: .6s;
	}

	.w-header .menu-header .item-menu:not(:last-child) {
		padding: 20px;
		border-bottom: 1px dashed var(--success);
	}

	.w-header .menu-header .item-menu .name {
		font-size: 20px;
	}

	.w-header .menu-header .btn-login {
		padding-top: 10px;
	}

	.w-header .menu-header .btn-login .btn {
		font-size: 25px;
	}

	.w-header .text .h1 {
		font-size: 45px;
	}

	.w-header .play {
		top: 50%;
	}

	.caterogys .img-wrap .click {
		width: 220px;
	}

	.popular .item {
		width: 100%;
		height: 100%;
	}

	.popular .item .name-producte {
		text-overflow: ellipsis;
		overflow: hidden;
		height: 40px;
	}

	.popular .item .buys {
		width: 80px;
	}

	.summary .left {
		display: flex;
		align-items: center;
	}

	.infomation .map iframe {
		width: 100% !important;
		height: 500px !important;
	}
}

/* Responsive mobile (Iphone 12 pro)*/

@media all and (max-width:391px) {
	.w-header .play {
		transform: translateX(-50%);
	}

	.w-header .play .bgr-play {
		width: 50px;
		height: 50px;
	}

	.w-header .bgr-play .play-fill {
		top: 35%;
		left: 22%;
	}

	.popular .item .buys {
		width: 100%;
	}

	.summary .left {
		display: none;
	}

	.summary .social {
		display: none !important;
	}

	.infomation .map iframe {
		width: 100% !important;
		height: 200px !important;
	}

	.w-footer .center {
		margin-left: 1rem;
	}
}